<h2>Editar Noticia</h2>

<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>

<span><%= link "Volver", to: post_path(@conn, :index) %></span>
