<div class="row">
  <div class="col-md-12">
    <h2><%= @post.titulo %></h2>
  </div>
  <div class="col-md-12" style="padding-top:20px !important; padding-bottom:20px !important;">
    <%= @post.cuerpo %>
    <%= @post.colectivos %>
  
  </div>
</div>

<div class="row container">
<span><%= link "Editar", to: post_path(@conn, :edit, @post), class: "btn btn-primary" %></span>
<span><%= link "Volver", to: post_path(@conn, :index), class: "btn btn-success" %></span>
</div>
