<div class="jumbotron">
  <h2><%= gettext "Bienvenido a %{name}", name: "Phoenix!" %></h2>
  <p class="lead">Un Framework web que no compromete<br />La Velocidad y Facilidad de Mantenimiento</p>
</div>


